{% extends 'core/base.html' %}
{% load static %}
<head>
    {% block title %}
    Login
    {% endblock title %}
</head>

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
            {% if user.is_authenticated %}
                <h5 class="user">{{ user.username }}</h5>
            {% endif %}
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <h1 class="titulo_login_1">Iniciar Sesion</h1>
        <form method="post" class="formulario_login">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="next" value="{% url 'core:index' %}">
            <div class="boton_login_contenedor">
                <button type="submit" class="boton_login">Iniciar Sesión</button>
            </div>
        </form>
        <div class="singup_contenedor">
            <p class="text_singup">Si no estas registrado</p>
            <a href="{% url 'login:singup' %}" class="singup">Crear Usuario</a>
        </div>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'core:index' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}