{% extends 'core/base.html' %}

{% block title %}
    Singup
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="login">
                    <a href="{% url 'login:index' %}" class="link">login</a>
        </div>
    </nav>
    <main class="contenedor">
        {% if mensaje %}
        <p class="mensaje_singup">{{ mensaje }}</p>
        {% else %}
        <h1 class="titulo_login">Crear Usuario</h1>
        <form method="post" class="formulario_singup">
            {% csrf_token %}
            {{form}}
            <input type="hidden" name="next" value="{% url 'login:index' %}">
            <div class="boton_singup_contenedor">
                <button type="submit" class="boton_singup">Guardar</button>
            </div>
        </form>
        {% endif %}
        <div class="volver_mascota_contenedor">
            <a href="{% url 'core:index' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
    
{% endblock content %}