{% extends 'core/base.html' %}

{% block title %}
    Editar nombre de usuario
{% endblock title %}

{% block content %}
    <main class="contenedor">
        <div class="titulo_registrar">
            <h1>Editar nombre de usuario</h1>
        </div>
        <form method="post" enctype="multipart/form-data" class="formulario_cambio">
            {% csrf_token %}
            {{ form }}
                <button type="submit" class="boton_cambio">Guardar</button>
        </form>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:index' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}