{% extends 'core/base.html' %}

{% block title %}
    {% if form.instance.pk %}
    Editar el control médico
    {% else %}
    Registro de control médico
    {% endif %}
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="paginas">
            <ul class="links">
                <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <div class="titulo_registrar">
            {% if form.instance.pk %}
                <h1>Editar control médico</h1>
            {% else %}
                <h1>Registrar control médico</h1>
            {% endif %}
        </div>
        <form method="post" class="formulario_control">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="boton_control">Guardar</button>
        </form>
        <div class="crear_vacunas_contenedor">
            <p><strong>¿No encontrás la vacuna?</strong></p>
            <a href="{% url 'perfil:vacunas_create' %}" class="crear_vacunas">Registrar vacuna</a>
        </div>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:control_list' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}