{% extends 'core/base.html' %}

{% block title %}
    Controles médicos
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="paginas">
            <ul class="links">
                <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <h1 class="titulo_core">Controles médicos</h1>
        <div class="busqueda_control">
            <form action="{% url 'perfil:control_list' %}" method="get">
                <input type="text" name="busqueda" placeholder="Buscar control" class="texto_busqueda_control">
            </form>
        </div>
        <div class="contenedor_registrar_mascota">
            <a href="{% url 'perfil:control_create' %}" class="registrar_mascota">Registrá un control médico</a>
        </div>
        <div class="contenedor_control_list">
            {% for object in object_list %}
            <ul class="control_list_completo">
                <div class="control_list">
                    {% if object.nombre.foto %}
                    <img src="{{ object.nombre.foto.url }}" alt="Foto de {{ object.nombre }}" width="50" height="">
                    {% endif %}
                    <p class="nombre_control">Control de <strong>{{object.nombre}}</strong></p>
                    <p class="fecha_control">Fecha: {{ object.fecha_control.day }}/{{ object.fecha_control.month }}/{{ object.fecha_control.year }}</p>
                    <div class="crud_mascota">
                        <a href="{% url 'perfil:control_detail' object.id %}" class="control_detalle">Detalles</a>
                        <a href="{% url 'perfil:control_update' object.id %}" class="control_editar">Editar</a>
                        <a href="{% url 'perfil:control_delete' object.id %}" class="control_borrar">Borrar</a>
                    </div>
                </div>
            </ul>
            {% endfor %}
        </div>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:index' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}