{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Control médico
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="paginas">
            <ul class="links">
                <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <div class="titulo_detalle_control">
            <h1>{{ object.nombre }}</h1>
        </div>
        <ul class="contenedor_detalle">
            <div class="detalle">
                <li>Peso: {{ object.peso }} Kg.</li>
                <li>Vacunas: {{ vacunas }}</li>
                {% if object.castrado %}
                    <li>Castrada: Si</li>
                {% else %}
                    <li>Castrada: No</li>
                {% endif %}
                {% if object.otras_intervenciones %}
                    <li>Otras intervenciones: {{ object.otras_intervenciones }}</li>
                {% endif %}
                {% if object.descripcion %}
                <li>Control: {{ object.descripcion }}</li>
                {% endif %}
                <li>Fecha del control: {{ object.fecha_control.day }}/{{ object.fecha_control.month }}/{{ object.fecha_control.year }}</li>
            </div>
            <img src="{{ object.nombre.foto.url }}" alt="Foto de {{ object.nombre }}" width="" height="" class="imagen_detalle">
        </ul>
        <div class="copiar_enlace_control">
            <label for="enlace-detalle">Comparti los datos:</label>
            <input type="text" id="enlace-detalle" value="{{ request.build_absolute_uri }}" readonly>
            <button onclick="copiarEnlace()" class="boton_copiar">Copiar enlace</button>
            <p id="mensaje" class="mensaje-copiado">¡Enlace copiado!</p>
        </div>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:control_list' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
    <script>
        function copiarEnlace() {
            // Obtener el campo de texto
            var enlace = document.getElementById("enlace-detalle");

            // Seleccionar el texto en el campo de texto
            enlace.select();
            enlace.setSelectionRange(0, 99999); // Para dispositivos móviles

            // Copiar el texto al portapapeles
            document.execCommand("copy");

            // Mostrar mensaje de éxito
            var mensaje = document.getElementById("mensaje");
            mensaje.style.display = "block";

            // Ocultar el mensaje después de 2 segundos
            setTimeout(function() {
                mensaje.style.display = "none";
            }, 2000);
        }
    </script>
        {% endblock content %}