{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Perfil
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="login">
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
        </div>
    </nav>
    <main class="contenedor">
        <h1 class="user_perfil">Perfil: {{ user.username }}</h1>
        <p class="link_mascota_perfil"><a href="{% url 'perfil:mascota_list' %}" class="mascota_perfil">Ver tus mascotas</a></p>
        <p class="link_control_perfil"><a href="{% url 'perfil:control_list' %}" class="control_perfil">Ver controles médicos</a></p>
        <p class="link_cambio_nombre"><a href="{% url 'login:update_username' %}" class="cambio_nombre">Cambiar nombre de usuario</a></p>
        <p class="link_cambio_contraseña"><a href="{% url 'login:update_password' %}" class="cambio_contraseña">Cambiar contraseña</a></p>
    </main>
{% endblock content %}