{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Perfil
{% endblock title %}

{% block content %}
    <main class="contenedor">
        <h1 class="user_perfil">Perfil: {{ user.username }}</h1>
        <div class="link_mascota_perfil">
            <p><a href="{% url 'perfil:mascota_list' %}" class="mascota_perfil">Ver tus mascotas</a></p>
            <p><strong>Aquí encontrarás el listado de las mascotas que has cargado.</strong></p>
        </div>
        <div class="link_control_perfil">
            <p><a href="{% url 'perfil:control_list' %}" class="control_perfil">Ver controles médicos</a></p>
            <p><strong>Aquí encontrarás los controles que le hayas registrado a tus mascotras.</strong></p>
        </div>
        <p class="link_cambio_nombre"><a href="{% url 'login:update_username' %}" class="cambio_nombre">Cambiar nombre de usuario</a></p>
        <p class="link_cambio_contraseña"><a href="{% url 'login:update_password' %}" class="cambio_contraseña">Cambiar contraseña</a></p>
    </main>
{% endblock content %}