{% extends 'core/base.html' %}

{% block title %}
    Tus Mascotas
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="paginas">
            <ul class="links">
                <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <h1 class="titulo_core">Tus Mascotas</h1>
        <div class="busqueda">
            <form action="{% url 'perfil:mascota_list' %}" method="get">
                <input type="text" name="busqueda" placeholder="Buscar mascota..." class="texto_busqueda">
            </form>
        </div>
        <div class="contenedor_registrar_mascota">
            <a href="{% url 'perfil:mascota_create' %}" class="registrar_mascota">Registra tu mascota</a>
        </div>
        {% for object in object_list %}
            <ul class="mascota_list_completo">
                <div class="mascota_list">
                    {% if object.foto %}
                    <img src="{{ object.foto.url }}" alt="Foto de {{ object.nombre }}" width="" height="" class="foto_mascota">
                    {% else %}
                    <p class="foto_mascota">No hay foto disponible</p>
                    {% endif %}
                    <p class="nombre_mascota">{{object.nombre}}</p>
                    <div class="crud_mascota">
                        <a href="{% url 'perfil:mascota_detail' object.id %}" class="mascota_detalle">Detalles</a>
                        <a href="{% url 'perfil:mascota_update' object.id %}" class="mascota_editar">Editar</a>
                        <a href="{% url 'perfil:mascota_delete' object.id %}" class="mascota_borrar">Borrar</a>
                    </div>
                </div>
            </ul>
        {% endfor %}
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:index' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}