{% extends 'core/base.html' %}

{% block title %}
    Tus Mascotas
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}">Home</a></h3>
            {% if user.is_authenticated %}
                <h5 class="user">{{ user.username }}</h5>
            {% endif %}
        </div>
        <div class="paginas">
            <ul class="links">
                <li><a href="{% url 'perfil:index' %}">Perfil</a></li>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark">Logout</button>
                </form>
                {% else %}
                    <li><a href="{% url 'login:singup' %}">Crear Usuario</a></li>
                {% endif %}
        </div>
    </nav>
    <h1>Tus Mascotas</h1>
    <div class="busqueda">
        <form action="{% url 'perfil:mascota_list' %}" method="get">
            <input type="text" name="busqueda" placeholder="Buscar mascota..." class="texto_busqueda">
        </form>
    </div>
    <ul>
        {% for object in object_list %}
            <li>{{object.nombre}}</li>
            <div class="crud">
                <a href="{% url 'perfil:mascota_detail' object.id %}">Detalles</a>
                <a href="{% url 'perfil:mascota_update' object.id %}">Editar</a>
                <a href="{% url 'perfil:mascota_delete' object.id %}">Borrar</a>
            </div>
        {% endfor %}
    </ul>
{% endblock content %}