{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Detalle de tu mascota
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}">Home</a></h3>
            {% if user.is_authenticated %}
                <h5 class="user">{{ user.username }}</h5>
            {% endif %}
        </div>
        <div class="paginas">
            <ul class="links">
                <li><a href="{% url 'perfil:index' %}">Perfil</a></li>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark">Logout</button>
                </form>
                {% else %}
                    <li><a href="{% url 'login:singup' %}">Crear Usuario</a></li>
                {% endif %}
        </div>
    </nav>
    <ul>
        <li>Nombre: {{ object.nombre }}</li>
        <li>Fecha de Nacimiento: {{ object.fecha_nacimiento }}</li>
        <li>Sexo: {{ object.sexo }}</li>
        <li>Raza: {{ object.raza }}</li>
        <li>Color de pelo: {{ object.color_pelo }}</li>
        {% if object.foto %}
            <img src="{{ object.foto.url }}" alt="Foto de {{ object.nombre }}" width="200" height="">
        {% else %}
            <p>No hay foto disponible</p>
        {% endif %}
    </ul>
    <div>
        <a href="{% url 'perfil:mascota_list' %}">Volver</a>
    </div>
{% endblock content %}