{% extends 'core/base.html' %}

{% block title %}
    {% if form.instance.pk %}
    Edita tu Mascota
    {% else %}
    Registra tu mascota
    {% endif %}
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="paginas">
            <ul class="links">
                <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <div class="titulo_registrar">
            <h1>Registrar mascota</h1>
        </div>
        <form method="post" enctype="multipart/form-data" class="formulario_mascota">
            {% csrf_token %}
            {{ form }}
            <div class="contenedor_boton_mascota">
                <button type="submit" class="boton_mascota">Guardar</button>
            </div>
        </form>
        <div class="crear_raza_contenedor">
            <p><strong>¿No encontrás la raza?</strong></p>
            <a href="{% url 'perfil:raza_create' %}" class="crear_raza">Registrar raza</a>
        </div>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:mascota_list' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}