{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Detalle de tu mascota
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="paginas">
            <ul class="links">
                <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <div class="titulo_detalle">
            <h1>{{ object.nombre }}</h1>
        </div>
        <ul class="contenedor_detalle">
            <div class="detalle">
                <li>Fecha de Nacimiento: {{ object.fecha_nacimiento }}</li>
                <li>Sexo: {{ object.sexo }}</li>
                <li>Raza: {{ object.raza }}</li>
                <li>Color de pelo: {{ object.color_pelo }}</li>
                <li>Alimento: {{ object.alimento }}</li>
                {% if object.datos_importantes %}
                <li>Datos importantes: {{ object.datos_importantes }}</li>
                {% endif %}
                <li>{{ object.descripcion}}</li>
            </div>
            {% if object.foto %}
            <img src="{{ object.foto.url }}" alt="Foto de {{ object.nombre }}" width="" height="" class="imagen_detalle">
            {% else %}
            <p>No hay foto disponible</p>
            {% endif %}
        </ul>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:mascota_list' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}