{% extends 'core/base.html' %}

{% block title %}
    Registrar vacuna
{% endblock title %}

{% block content %}
    <main class="contenedor">
        <div class="titulo_registrar">
            <h1>Registrar vacuna</h1>
        </div>
        <form method="post" enctype="multipart/form-data" class="formulario_mascota">
            {% csrf_token %}
            {{ form }}
                <button type="submit" class="boton_singup">Guardar</button>
        </form>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:control_create' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}