{% extends 'core/base.html' %}

{% block title %}
    Registrar vacuna
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        <div class="paginas">
            <ul class="links">
                <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
            </ul>
        </div>
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
                {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <div class="titulo_registrar">
            <h1>Registrar vacuna</h1>
        </div>
        <form method="post" enctype="multipart/form-data" class="formulario_mascota">
            {% csrf_token %}
            {{ form }}
                <button type="submit" class="boton_singup">Guardar</button>
        </form>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'perfil:control_create' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}