{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Inicio
{% endblock title %}

{% block content %}
    <main class="contenedor">
        <h1 class="titulo_index_comunidad">Comunidad</h1>
        <div class="contenedor_link_veterinarias">
            <p><a href="{% url 'comunidad:veterinarias_list' %}" class="link_veterinarias">Veterinarias</a></p>
            <p><strong>En las veterinarias encontrarás todas las veterinarias que los usuarios recomiendan y los detalles de las mismas.</strong></p>
        </div>
        <div class="contenedor_link_tipcuriosidad">
            <p><a href="{% url 'comunidad:tipcuriosidad_list' %}" class="link_tipcuriosidad">Tips y Curiosidades</a></p>
            <p><strong>En tips y curiosidades podras informarte sobre como cuidar tus mascotas y descubrir datos impresionantes.</strong></p>
        </div>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'core:index' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}