{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    detalle del Tip/Curiosidad
{% endblock title %}

{% block content %}
    <main class="contenedor">
        <div class="titulo_detalle_tipcuriosidad">
            <h1>{{ object.nombre }}</h1>
        </div>
        <ul class="contenedor_detalle">
            <div class="detalle">
                <li>Animal: {{ object.animal }}</li>
                <li>Tip o Curiosidad: {{ object.tip_o_curiosidad }}</li>
                {% if object.url %}
                    <li>URL: <a href="{{ object.url }}" target="_blank" rel="noopener noreferrer" class="url_tipcuriosidad">{{ object.url }}</a></li>
                    <iframe width="560" height="315" src="{{ tipcuriosidad.url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endif %}
                {% if object.dato %}
                    <li>Dato: {{ object.dato }}</li>
                {% endif %}
            </div>
            {% if object.foto_referencia %}
                <img src="{{ object.foto_referencia.url }}" alt="Foto de {{ object.nombre }}" width="" height="" class="imagen_detalle">
            {% endif %}
        </ul>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'comunidad:tipcuriosidad_list' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
        {% endblock content %}