{% extends 'core/base.html' %}

{% block title %}
    Cargar animal
{% endblock title %}

{% block content %}
    <main class="contenedor">
        <div class="titulo_registrar">
            <h1>Nuevo animal</h1>
        </div>
        <form method="post" class="formulario_control">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="boton_control">Guardar</button>
        </form>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'comunidad:tipcuriosidad_create' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}