{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Veterinaria
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            <h3><a href="{% url 'core:index' %}" class="link">Home</a></h3>
        </div>
        {% if user.is_authenticated %}
            <div class="paginas">
                <ul class="links">
                    <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
                </ul>
            </div>
        {% endif %}
        <div class="login">
            {% if user.is_authenticated %}
            <form action="{% url 'login:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout">Logout</button>
            </form>
            {% else %}
                <a href="{% url 'login:index' %}" class="link">login</a>
                <a href="{% url 'login:singup' %}" class="link">Crear Usuario</a>
            {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <div class="titulo_detalle_control">
            <h1>{{ object.nombre }}</h1>
        </div>
        <ul class="contenedor_detalle">
            <div class="detalle">
                <li>Telefono: {{ object.telefono }}</li>
                <li>Dirección: {{ object.direccion }}</li>
                <li>Localidad: {{ object.localidad }}</li>
                {% if object.ubicacion %}
                <li>Ubicación: <br><br><a href="{{ object.ubicacion }}" target="_blank" rel="noopener noreferrer" class="url_tipcuriosidad">{{ object.ubicacion }}</a></li>
                {% endif %}
                {% if object.descripcion %}
                <li>Descripción: {{ object.descripcion }}</li>
                {% endif %}
            </div>
            {% if object.foto_referencia %}
                <img src="{{ object.foto_referencia.url }}" alt="Foto de {{ object.nombre }}" width="" height="" class="imagen_detalle">
            {% endif %}
        </ul>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'comunidad:veterinarias_list' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
        {% endblock content %}