{% extends 'core/base.html' %}

{% block title %}
    Borrar veterinaria
{% endblock title %}

{% block content %}
    <main class="contenedor">
        <p class="pregunta_borrar">¿Confirma eliminar la veterinaria "{{ object.nombre }}"?</p>
        <form method="post" class="form_borrar">
            {% csrf_token %}
            <button type="submit" class="boton_borrar">Eliminar</button>
        </form>
        <div class="volver_mascota_contenedor">
            <a href="{% url 'comunidad:veterinarias_list' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}