{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}
    {% endblock style %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    {% block content %}
    {% endblock content %}
    <footer class="footer">
        <p class="contacto">Palun7</p>
        <a href="" class="link">Instagram</a>
    </footer>
</body>
</html>