{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}
    {% endblock style %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    {% block content %}
    {% endblock content %}
    <footer class="footer">
        <p class="contacto">Contacto:</p>
        <a href="https://www.instagram.com/palun77/" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/instagram-line.png' %}" alt="" height="" width="" class="instagram"></a>
        <a href="https://www.facebook.com/PALUN.7" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/facebook.png' %}" alt="" height="" width="" class="facebook"></a>
        <a href="https://github.com/Palun7/" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/github.png' %}" alt="" height="" width="" class="github"></a>
        <p class="linkedin_core"><a href="https://www.linkedin.com/in/pablo-daniel-martinez-93601422b/" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/linkedin.png' %}" alt="" height="" width=""></a></p>
        <p class="whatsapp_core"><a href="https://api.whatsapp.com/send/?phone=3512268553&text&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/whatsapp.png' %}" alt="" height="" width=""></a></p>
    </footer>
</body>
</html>