{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Inicio
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="titulo">
            {% if user.is_authenticated %}
                <h5 class="user">{{ user.username }}</h5>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div class="paginas">
                <ul class="links">
                    <li><a href="{% url 'perfil:index' %}">Perfil</a></li>
                </ul>
            </div>
        {% endif %}
        <div class="login">
                {% if user.is_authenticated %}
                <form action="{% url 'login:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark">Logout</button>
                </form>
                {% else %}
                    <li><a href="{% url 'login:index' %}">login</a></li>
                    <li><a href="{% url 'login:singup' %}">Crear Usuario</a></li>
                {% endif %}
        </div>
    </nav>
    <h1 class="pawiki">Pawiki</h1>
{% endblock content %}