{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Inicio
{% endblock title %}

{% block content %}
    <nav class="navbar">
        {% if user.is_authenticated %}
            <div class="paginas">
                <ul class="links">
                    <a href="{% url 'perfil:index' %}" class="link">Perfil: {{ user.username }}</a>
                </ul>
            </div>
        {% endif %}
        <div class="login">
            {% if user.is_authenticated %}
            <form action="{% url 'login:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login:index' %}" class="link">login</a>
            <a href="{% url 'login:singup' %}" class="link">Crear Usuario</a>
            {% endif %}
        </div>
    </nav>
    <main class="contenedor">
        <p class="imagen_patita"><img src="{% static 'img/patita.jpg' %}" alt="" width="" height="" class="patita"></p>
        <h1 class="titulo_index">Pawiki</h1>
        <p class="imagen_patita2"><img src="{% static 'img/patita.jpg' %}" alt="" width="" height="" class="patita"></p>
        <div class="contenedor_link_galeria_fotos">
            <p><a href="{% url 'core:galeria_fotos' %}" class="link_galeria_fotos">Galeria de fotos</a></p>
            <p><strong>En esta sección podrás ver las fotos de todas las mascotas cargadas en esta página</strong></p>
        </div>
        <div class="contenedor_comunidad">
            <p><a href="{% url 'comunidad:index' %}" class="comunidad">Comunidad</a></p>
            <p><strong>En la comunidad encontrarás veterinarias recomendadas por los usuarios, así como tambien tips y curiosidades de animales.</strong></p>
        </div>
    </main>
{% endblock content %}