{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Sobre mi
{% endblock title %}

{% block content %}
    <main class="contenedor">
        <h1 class="titulo_index_comunidad">Palun</h1>
        <p class="texto_sobre_mi">
            Mi nombre es Pablo Martinez, apodo "Palun", soy profesor de educación física y apacionado de la tecnología. 
            En febrero del corriente año (2024) me propuse a hacer una tarea que tenia pendiente, la cual era aprender a programar.
            Mi principal objetivo es ser un "Full Stack Developer". En estos momentos estoy aprendiendo Python y paralelamente practico 
            html y css. Proximamente buscaré aprender javascript y dentro del mismo react, para complementarlo con django.
        </p>
        <div class="foto_contacto">
            <img src="{% static 'img/sobre_mi.jpg' %}" alt="" width="" height="" class="mi_foto">
            <p class="texto_contacto">Contacto</p>
            <p class="instagram_core"><a href="https://www.instagram.com/palun77/" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/instagram-line.png' %}" alt="" height="" width=""></a></p>
            <p class="facebook_core"><a href="https://www.facebook.com/PALUN.7" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/facebook.png' %}" alt="" height="" width=""></a></p>
            <p class="github_core"><a href="https://github.com/Palun7/" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/github.png' %}" alt="" height="" width=""></a></p>
            <p class="linkedin_core"><a href="https://www.linkedin.com/in/pablo-daniel-martinez-93601422b/" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/linkedin.png' %}" alt="" height="" width=""></a></p>
            <p class="whatsapp_core"><a href="https://api.whatsapp.com/send/?phone=3512268553&text&type=phone_number&app_absent=0" target="_blank" rel="noopener noreferrer" ><img src="{% static 'img/whatsapp.png' %}" alt="" height="" width=""></a></p>
        </div> 
        <div class="volver_mascota_contenedor">
            <a href="{% url 'core:index' %}" class="volver_mascota">Volver</a>
        </div>
    </main>
{% endblock content %}